<h1>New Treat</h1>

<%= form_for [@user, @treat] do |f| %>
	<%= f.text_field :title, placeholder: 'Title', required: true %>
	<%= f.text_area :description, placeholder: 'Description', required: true %>
	<%= f.text_field :price, placeholder: 'Price', required: true %>
	<%= f.text_field :img_url, placeholder: 'Image URL' %>
	<%= f.submit 'Submit' %>
<% end %>