<h1>New Task</h1>

<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
<% end %>

<%= form_for [@user, @task] do |f| %>
  <%= f.text_field :title, placeholder: 'Title', required: true %>
  <%= f.text_area :description, placeholder: 'Description', required: true %>
  <%= f.text_field :reward, placeholder: 'Reward', required: true %>
  <%= f.submit 'Submit' %>
<% end %>